@media screen and (max-width:576px){
    .humberger-menu{
        display: block;

    }
    .nav{
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    .menu-items{
        display: none;
    }
    .heading{
        flex-direction: column;
        
        
    }
    .box-1{
        
        margin-left:50%;
        bottom: -130%;
    
    }
    .box-2{
        margin-left: 10%;
        bottom: -190%;

    }
    .picture{
        padding-left: 20%;
    }

    .ex-items{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        gap: 10px;
    
    }
    .first-main{
        margin: 500px 0px 0px 0px;
        padding: 10px;
    }
    .run-wrapper{
        width: 48%;
    }
    .run-parent img{
        width: 100%;
    }
    .run-parent{
        padding: 15px 15px;
        margin: 10px;  
        align-items:center;
    }
    .runh2{
        font-size: 2rem;
        margin:3px 0;
    }
    .runp{
        font-size: .5rem;
        margin-bottom: 5px;
    }
    .runbtn{
        padding: .6rem 1rem;
        font-size: .9rem;
    }
    .bmi-main{
        flex-direction: column;
        gap: 35px;
    }
    .bmih2p{
        margin: 8px 30px;
       
    }
   
}