@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(46, 45, 45);

    
    /* background: #000; */
}

/* shared styles
 */
 .titlefont{
    color: #ffffff;
    font-size: 3rem;
    font-weight: 900;
    text-align: center;

}
.desfont{
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    font-weight: 400;
    text-align: center;

}

/* shared styles ends */


/* header styles starts */
header{
    padding: 40px 60px;
    max-width: 1200px;
}


/* header styles ends */


/* nav styles starts */

.logo{
    margin: 0px .7rem;
    color: rgb(230, 83, 60);
    font-size: 2.2rem;
    font-weight: 800;
    font-style: italic;

}
.menu-items{
   
    display: flex;
    /* gap: 3rem; */
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 3.1rem;
    list-style: none;
    text-align: center;
    
}
.list{
    margin: 0px .7rem;
    padding: .6rem 1.3rem;
    align-items: center;
    color: rgb(255, 255, 255);
    font-size: 1.1rem;
    text-align: center;
    font-weight: 400;
    margin-right: 3rem;
}
.home{
    color: rgb(255, 255, 255);
    background-color: rgb(230, 83, 60);
    padding: .7rem 1.2rem;
    border-radius: 46px;
    font-size: 1.1rem;
    font-weight: 600;
    margin-right: 15px;
 
}
.nav{
   
    display: flex;
    gap: 37%;
    text-align: center;
}
.humberger-menu{
    display: none;
    color: aliceblue;
}
/* nav styles ends */

/* banner styles  starts*/
.title{
    margin-top: 100px;
}

.title-get{
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    color: rgb(255, 255, 255);
    width: 33rem;
    height: 17.5rem;
    line-height: 120%;
    
    
}
.shape{
    font-size: 8rem;
    font-weight: 400;
    font-family: miama;
    background: transparent;
}
.description{
    font-size: 1rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin: .7rem 0px;
    width: 30rem;
}
.app{
    padding: .9rem 2.5rem;
    font-size: 1.1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    
    border-radius: 2.4rem;
    border: 1px solid rgb(237, 232, 232);
    background: transparent;
}
.join-btn{
    font-size:1.1rem;
    font-weight: 600;
    color: rgb(255, 255, 255);
    background: rgb(230, 83, 60);
    padding:.9rem 2.7rem;
    border-radius: 3rem;
    border: 1px solid rgb(230, 83, 60);
}
.picture{ 
    max-width: 19rem;
    max-height:3rem ;

}
.heading{
    display:flex;
    gap: 15rem;
    
}
.box-1h2{
    font-size:2rem;
    font-weight: 900;
    background: none;
}
.free{
    font-size: .8rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    background: none;
}
.box-1{
    padding: .7rem 1.3rem 1.2rem 1.3rem;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: .7rem;
    backdrop-filter: blur(1.4rem);
    background: rgba(255, 255, 255, 0.1);
    
    margin-left: 78%;
    width: 11rem;
    height: 5.4rem;
    position: absolute;
    bottom: 46%;
    color: #fff;

}
.tutorial{
    font-size: .9rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.65);
    background: none;
}
.box-2h2{
    font-size: 2.5rem;
    font-weight: 900;
    background: none;
}
.box-2child{
    background: none;
}
.box-2{
    padding: .7rem 1.3rem 1.2rem 1.3rem;
    text-align: left;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: .7rem;
    backdrop-filter: blur(1.4rem);
    background-color: rgba(255, 255, 255, 0.1);
    margin-left: 50%;
    width: 13rem;
    height: 5.4rem;
    position: absolute;
    bottom:-3%;
    color: #fff;
    display: flex;

}
.circle{

    margin-top: 1rem;
    margin-right: .7rem;
    background-color: rgb(230, 83, 60);
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
}
/* banner styles ends */


 /* change Your Habits style starts */
 .ex-items{
    display: flex;
    margin: 20px ;
 }
 .ex-items img{
    border-radius: 50%;
    padding: auto;
    height: 180px;
    width: 250px;
    margin-top: 58px;
}
.ex-items h5{
    font-weight: 600;
    font-size: 1.1rem;
    color: #fff;

}
.ex-items p{
    font-weight: 400;
    font-size: 1rem;
    color: rgba(255, 255, 255, 0.5);

}
.first-main{
    padding:60px 60px ;
    max-width: 1200px;
}





/* change Your Habits style ends  */


/* Run an extra mile easily  style starts */

.runp,.runh2,.renbtn,.trainh2,.trainp{
    margin-bottom: 30px;
    text-align: justify;
    background: none;
}
.run-wrapper{
    width: 48%;
}
.run-parent img{
    width: 100%;
    border-radius: 18px;
}
.run{
    flex-direction: column;
    background: none;
    align-items: center;
    justify-content: space-around;
    

} 
.run-parent{
    max-width: 1200px;
    padding: 41px 35px 40px 55px;
    margin-top: 120px;
    margin-bottom: 100px;
    margin: 60px;
    display: flex;
    
    justify-content: space-between;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    
}


/* 
Run an extra mile easily  style ends */



/* <!-- BMI calculator section  style starts */

.bmih2p{
    margin: 88px 300px;
   
}
.bmih2,.bmip{
    text-align: justify;
}  
.bmi-main{
        background:rgba(34, 34, 34, .9);
      
        margin-bottom: 88px;
        border-radius: 15px;
        display: flex;
        justify-content: space-between;
        padding: 20px 30px;
      
    }
    .bbmi{
        width: 48%;
        background: none;
        
    }
    .bmi-clac{
        background: rgba(255, 255, 255, 0.1);
        padding: 10px;
        border-radius: 5px;
        color: rgba(255, 255, 255, 0.5);
        margin: 25px 20px;
         
     
     }
     .factor{

        height: 40px;
        width: 500px;
    
    
    }
    .sex{
        height: 40px;
        width: 210px;
        /* border-radius: 12px; */
    }
    .main-bmi{
        padding: 20px;
    }
  /* table design */
.form-table{
    font-weight: 900;
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    padding-bottom: 30px;

}
td{
    font-weight: 400;
    font-size: .9prem;
    color: rgba(255, 255, 255, 0.5);
    padding: 8px;
    
}
th{
    padding: 10px;
    font-weight: 500;
    font-size: 1rem;
    color: rgb(255, 255, 255);
}
table, th, td {
    border: 0.5px solid rgba(90, 88, 88, 0.1);
  }
  .bmi-section{
    align-items: center;
    justify-content: center;
  }
 
  .chart{
    align-items: center;
    text-align: center;
    background: transparent;
  }
  .table{
    text-align: center;
    align-items: center;
    justify-content: center;
  }


   /* Meet our team  style starts */
   

  /* Trainer section styles */
  
  /* Trainer section styles */
  

  .pic-trainer{
    position: relative;
    
  }
  .trainer-text{
    position: absolute;
    margin-left: 1%;
    margin-top: -4%;
    

  }
  .trainer-pic-parent{
    border-radius: 18px;
    background: rgba(255, 255, 255, 0.1) ;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
    padding: 20px;
    margin: 40px 80px;
    
    
    

  }
 
  .tpic-1 img{
    width:327px;
    height: 272px;
    border-radius: 12px;
  }
  .tpic-1p{
    font-weight: normal;
    font-size: .9rem;
    color: rgba(255, 255, 255, 0.5);
  }
.tpic-1h4{
    font-weight: 600;
    font-size: 1.4rem;
    color: #fefdfd;
}


 



      /* Meet our team  style ends */


      /* warm up styles starts */

      
/* <!-- train-up section --> */
.how-to-container{
    border: 1px solid red;
    border-radius: 10px;
    display: flex;
    gap: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
    padding: 1rem;
    width: 100%;
}

/* warm up styles ends */


/* footer styles */
.footer{
    padding: 0 0px ;
   
}
.footer-title{
    font-weight: 800;
    font-size: 5rem;
    color: rgb(230, 83, 60);
    width: 256px;
    margin-bottom: 20px;
}
.footerdes{
    width: 406px;
    text-align: justify;
}
.main-footer{
    display: flex;
    justify-content: space-between;
    gap: 80px;
   
    align-items: center;
    padding: 70px 0;
}
.sec-footer{
    display: flex;
    gap: 90px;
}
.footer-li{
    font-size: 1.4rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    margin-bottom: 20px;
    list-style: none;
}
.footer-get{
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    margin-bottom: 60px;

}
.footer-para{
    font-size: 1.2rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    padding: px;
   
}
.hr{
    margin-bottom: 30px;
    border: 2px solid rgba(255, 255, 255, 0.1);
}

.f-footer{
    max-width: 1280px;
    margin-top: 50px;
    padding: 0px 100px 30px;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
}

